
RewriteEngine On

# The base URL path
# If your URL is www.example.com/, then use /
# If your URL is www.example.com/site_folder/www, then use /site_folder/www/
RewriteBase /CodeRealm

# Do not enable rewriting for files or directories that exist
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# For requests that aren't actually files or directories, Rewrite to index.php/URL_PATH
RewriteRule ^(.*)$ index.php/$1 [PT,L]
